PORT=5000
JWT_SECRET=your_jwt_secret_here
DATABASE_URL=
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=radhamadv

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

APITXT_AUTH_KEY=
APITXT_CHANNEL=SMS
APITXT_ROUTE=nondlt
APITXT_MESSAGE_TEMPLATE=Your verification code for Radhamadv Store is {{otp}}. Valid for 5 minutes. Do not share with anyone.
APITXT_SENDER=RADMAV
APITXT_DLT_TE_ID=
